In [1]:
import numpy as np
import random
import math
from matplotlib import pyplot as plt
from sklearn.datasets.samples_generator import make_blobs
import time
import pandas as pd
from scipy.spatial.distance import cdist
from sklearn.utils import shuffle
from sklearn.cluster import KMeans
import numpy as np
from scipy.spatial import distance

from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle
np.random.seed(0)

Initialize the data points and Random centers
===========================

KMeans - Clustering
===============

In [2]:
cluster=20
data=pd.read_csv('../../../dataset/a1.txt', header=None, sep=',')  #
datasetname='a1'
x= np.asarray(data.iloc[:, :]) # np.asarray (data.iloc[:, :-1])
data.head()

       0      1
0  54620  43523
1  52694  42750
2  53253  43024
3  54925  42624
4  54973  43980

In [3]:
error=[]

for i in range(10):
    
    data=shuffle(data)
    x= np.asarray(data.iloc[:, :])    

    kmeans = KMeans(n_clusters=cluster, random_state=5,max_iter=50).fit(x)
    
    labels=kmeans.labels_
    centers=kmeans.cluster_centers_
    dst=0
    
    for j in range(len(labels)):
        dst+=distance.euclidean(list(data.iloc[j,:]),centers[labels[j]]) 
    error.append(dst)
    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
print(error)
print('mean ',np.mean(error))
print('std ',np.std(error))

[5376844.285794861, 5376826.391156265, 5376844.285794863, 5376844.2857948635, 5376826.391156261, 5376844.285794866, 5376844.285794865, 5376844.285794858, 5376844.285794848, 5376844.28579487]
mean  5376840.706867142
std  7.157855439605191