In [1]:
import numpy as np
import random
import math
from matplotlib import pyplot as plt
from sklearn.datasets.samples_generator import make_blobs
import time
import pandas as pd
from scipy.spatial.distance import cdist
from sklearn.utils import shuffle
from sklearn.cluster import KMeans
import numpy as np
from scipy.spatial import distance

from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle
np.random.seed(0)

Initialize the data points and Random centers
===========================

KMeans - Clustering
===============

In [3]:
cluster=7
data=pd.read_csv('../../../dataset/Aggregation.txt', header=None, sep=',')  #
datasetname='Aggregation'
x= np.asarray(data.iloc[:, :-1]) 
data.head()

       0      1  2
0  15.55  28.65  2
1  14.90  27.55  2
2  14.45  28.35  2
3  14.15  28.80  2
4  13.75  28.05  2

In [4]:
error=[]

for i in range(10):
    
    data=shuffle(data)
    x= np.asarray(data.iloc[:, :-1]) 

    kmeans = KMeans(n_clusters=cluster, random_state=5,max_iter=50).fit(x)
    
    labels=kmeans.labels_
    centers=kmeans.cluster_centers_
    dst=0
    
    for j in range(len(labels)):
        dst+=distance.euclidean(list(x[j,:]),centers[labels[j]]) 
    error.append(dst)
    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
print(error)
print('mean ',np.mean(error))
print('std ',np.std(error))

[2713.453606311504, 2713.4536063115033, 2713.348640437264, 2713.509267750861, 2713.6293163423766, 2713.4536063115, 2713.81458182379, 2713.3486404372616, 2713.348640437263, 2713.4536063115024]
mean  2713.4813512474825
std  0.13770665226914353

In [6]:
centers

array([[21.16041667, 22.89895833],
       [20.92561983,  6.83305785],
       [ 7.36858974,  7.75705128],
       [32.69453125, 22.13789062],
       [14.9165493 ,  7.39647887],
       [ 9.25928144, 22.98113772],
       [33.14278846,  8.79375   ]])