In [1]:
import numpy as np
import random
import math
from matplotlib import pyplot as plt
from sklearn.datasets.samples_generator import make_blobs
import time
import pandas as pd
from scipy.spatial.distance import cdist
from sklearn.utils import shuffle
from sklearn.cluster import KMeans
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle
np.random.seed(0)

Initialize the data points and Random centers
===========================

KMeans - Clustering
===============

In [2]:
cluster=2
data=pd.read_csv('../../../dataset/breast-cancer-wisconsin.data', header=None, sep=',')
datasetname='breast-cancer'
data=data.drop(data[data.iloc[:,6]=='?'].index)
x= np.asarray(data.iloc[:, 1:-1]).astype(int)
y= np.asarray(data.iloc[:, -1]) 
le=LabelEncoder()
y=le.fit_transform(y)
data.astype(float)
data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [3]:
# from sklearn import datasets
# x=datasets.load_breast_cancer(return_X_y=False).data
# y=datasets.load_breast_cancer(return_X_y=False).target

# data=pd.DataFrame(x)
# data['y']=y

# cluster=2 
# datasetname='breast-cancer' 
# x= np.asarray(data.iloc[:, :-1])
# y= np.asarray(data.iloc[:, -1]) 
# le=LabelEncoder()
# y=le.fit_transform(y)
# data.astype(float)
# data.head()

In [4]:
for i in range(5):
    
    data=shuffle(data)
    x= np.asarray(data.iloc[:, 1:-1]) 
    y= np.asarray(data.iloc[:, -1]) 
    le=LabelEncoder()
    y=le.fit_transform(y)
    

    kmeans = KMeans(n_clusters=cluster, random_state=5,max_iter=50).fit(x)
    kmeans.labels_

    kmeans.cluster_centers_
    vv=kmeans.cluster_centers_

    ny=kmeans.labels_     
        
    mypred=pd.DataFrame()
    mypred['Actual']=y
    mypred['Predicted']=ny
    
    mypred.to_csv('KMEANS_'+str(i)+'_pred.txt',sep=',',index=False)
    print(i)

0
1
2
3
4