In [1]:
import numpy as np
import random
import math
from matplotlib import pyplot as plt
from sklearn.datasets.samples_generator import make_blobs
import time
import pandas as pd
from scipy.spatial.distance import cdist
from sklearn.utils import shuffle
# from sklearn.cluster import KMeans
import numpy as np
import kmeansAlgo as k
from sklearn.cluster import SpectralClustering

from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle
np.random.seed(0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

Initialize the data points and Random centers
===========================

KMeans - Clustering
===============

In [2]:
cluster=2
data=pd.read_csv('../../../dataset/breast-cancer-wisconsin.data', header=None)  
data=shuffle(data)

data=data.drop(data[data[6]=='?'].index)
data=data.astype(float)

x= np.asarray (data.iloc[:, 1: -1])
y=data.iloc[:,-1]
le=LabelEncoder()
y=le.fit_transform(y)
data.head()

            0    1    2    3     4    5    6    7    8    9    10
476  1296025.0  4.0  1.0  2.0   1.0  2.0  1.0  1.0  1.0  1.0  2.0
531   867392.0  4.0  2.0  2.0   1.0  2.0  1.0  2.0  1.0  1.0  2.0
432  1277629.0  5.0  1.0  1.0   1.0  2.0  1.0  2.0  2.0  1.0  2.0
14   1044572.0  8.0  7.0  5.0  10.0  7.0  9.0  5.0  5.0  4.0  4.0
157  1193210.0  2.0  1.0  1.0   1.0  2.0  1.0  3.0  1.0  1.0  2.0

In [3]:
for i in range(10):
    
    data=shuffle(data)
    x= np.asarray (data.iloc[:, 1: -1])
    y=data.iloc[:,-1]
    le=LabelEncoder()
    y=le.fit_transform(y)
    

    clustering = SpectralClustering(n_clusters=cluster, gamma=0.1,  assign_labels="discretize", random_state=0)
    clustering.fit(x) 
    ny=clustering.labels_   
        
    mypred=pd.DataFrame()
    mypred['Actual']=y
    mypred['Predicted']=ny
    
    mypred.to_csv('SpectralClustering_'+str(i)+'_pred.txt',sep=',',index=False)
    print(i)

0
1
2
3
4
5
6
7
8
9